<!doctype html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/toastr/2.1.4/build/toastr.min.css}"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/toastr/2.1.4/build/toastr.min.js}"></script>

    <meta name="theme-color" content="#712cf9">
    <link th:rel="stylesheet" th:href="@{/tasks.css}"/>

</head>
<body>

<div>
    <table class="rotate-table">
        <tr>
            <th>Номер договора</th>
            <th>Размещение станции</th>
            <th>Грузоподъесность</th>
            <th>Цвет шкафа</th>
            <th>Остановки</th>
            <th>Статус изготовления</th>
            <!-- Добавьте другие заголовки, если необходимо -->
        </tr>
        <tr th:if="${products.empty}">
            <td colspan="2"> No Job Available </td>
        </tr>
        <tr th:each="product : ${products}">
            <td><span th:text="${product.getContractNumber()}"> номер </span></td>
            <td><span th:text="${product.getType()}"> тип </span></td>
            <td><span th:text="${product.getLoad()}"> грузоподъемность </span></td>
            <td><span th:text="${product.getColor()}"> цвет шкафа </span></td>
            <td><span th:text="${product.getFloors()}"> оставновок </span></td>
            <td> <span th:text="${product.getDone() ? 'готово' : 'в процессе'}">Готовность</span></td>
        </tr>
    </table>
</div>



<div class="container py-3">
    <header>

    </header>

    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Конструктор Шаблонов</h4>
                    </div>
                    <form action="/constructTempate" method="get">
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$0
                                <small class="text-body-secondary fw-light">/mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>10 users included</li>
                                <li>2 GB of storage</li>
                                <li>Email support</li>
                                <li>Help center access</li>
                            </ul>
                            <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Start</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Конструктор задач</h4>
                    </div>
                    <form action="/constructProduct" method="get">
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$15
                                <small class="text-body-secondary fw-light">/mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>20 users included</li>
                                <li>10 GB of storage</li>
                                <li>Priority email support</li>
                                <li>Help center access</li>
                            </ul>
                            <button type="submit" class="w-100 btn btn-lg btn-primary">Get started</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3 text-bg-primary border-primary">
                        <h4 class="my-0 fw-normal">Спецификации</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$29<small
                                class="text-body-secondary fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>30 users included</li>
                            <li>15 GB of storage</li>
                            <li>Phone and email support</li>
                            <li>Help center access</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
                    </div>
                </div>
            </div>
        </div>


    </main>


</div>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.bundle.js}" crossorigin="anonymous"></script>

</body>
</html>
