<!doctype html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/toastr/2.1.4/build/toastr.min.css}"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/toastr/2.1.4/build/toastr.min.js}"></script>

    <meta name="theme-color" content="#712cf9">
    <link th:rel="stylesheet" th:href="@{/tasks.css}"/>

</head>
<body>


<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">Страничка добавления задач</a>
    <span class="navbar-brand mb-0 h1" th:text="${username}">Имя</span>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</nav>

<div class="border-bottom" >
    <div class="table">
        <div  class="product-fields">
            <div class="field">Номер договора</div>
            <div class="field">Размещение станции</div>
            <div class="field">Грузоподъесность</div>
            <div class="field">Цвет шкафа</div>
            <div class="field">Остановки</div>
            <div class="field">Статус изготовления</div>
        </div>
        <div class="products-list">
            <div class="product-item" th:each="product : ${products}">
                <div class="product-field"><span th:text="${product.getContractNumber()}"> номер </span></div>
                <div class="product-field"><span th:text="${product.getType()}"> тип </span></div>
                <div class="product-field"><span th:text="${product.getLoad()}"> грузоподъемность </span></div>
                <div class="product-field"><span th:text="${product.getColor()}"> цвет шкафа </span></div>
                <div class="product-field"><span th:text="${product.getFloors()}"> оставновок </span></div>
                <div class="product-field"> <span th:text="${product.getDone() ? 'готово' : 'в процессе'}">Готовность</span></div>
            </div>
        </div><!-- product--list -->
    </div>
</div>


<div class="container py-3">
    <header>

    </header>

    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Конструктор Изделий</h4>
                    </div>
                    <form action="/constructTempate" method="get">
                        <div class="card-body">
                            <h4 class="card-title pricing-card-title">Шаблонов
                                <small class="text-body-secondary fw-light">/создано</small></h4>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>10 users included</li>
                            </ul>
                            <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Start</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Форма для лифта</h4>
                    </div>
                    <form action="/constructProduct" method="get">
                        <div class="card-body">
                            <h4 class="card-title pricing-card-title">Форм
                                <small class="text-body-secondary fw-light">/создано</small></h4>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>10 users included</li>
                            </ul>
                            <button type="submit" class="w-100 btn btn-lg btn-primary">Get started</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3 text-bg-primary border-primary">
                        <h4 class="my-0 fw-normal">Спецификации</h4>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title pricing-card-title">Lorem.<small
                                class="text-body-secondary fw-light">/ipsum</small></h4>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>форма для модуля</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
                    </div>
                </div>
            </div>
        </div>


    </main>


</div>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.bundle.js}" crossorigin="anonymous"></script>

</body>
</html>
