
.table {
    display: flex;
    column-gap: 10px;
}
.product-fields {
    border-right: 1px solid #777;
    padding-right: 6px;
}
.field {padding: 6px 0; font-weight: 700;}
.products-list {
    display: flex;
    flex: 1 0 0;
    column-gap: 10px;
}
.product-item {display: flex; flex-direction: column; max-width: 120px;}
.product-field {padding: 6px 0;}