<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Мои задачи</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/toastr/2.1.4/build/toastr.min.css}"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/toastr/2.1.4/build/toastr.min.js}"></script>

</head>


<body>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}" >Главная</a>
    <span class="navbar-brand mb-0 h1" th:text="${username}">Имя</span>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</nav>

<table class="table table-hover">
    <thead>
    <tr>
        <th colspan="2">
            <h3>Мои задачи</h3>
        </th>
    </tr>
    </thead>
    <tbody>
    <!--        th:if="${task.reserved}"-->
    <tr th:each="task: ${tasks}" >
        <div class="card-deck">

        <td class="table-light" th:text="${task.description}"></td>
        <td class="table-light"  th:text="${task.taskStatus == 'DONE' ? 'display: none;' : ''}">
            <form th:action="@{/{id}/complete(id=${task.id})}" method="post" class="d-inline">
                <input type="hidden" name="userid" th:value="${userid}"/>
                <button type="submit" class="btn btn-success ">Success</button>
            </form>
            <form th:action="@{/{id}/rollback(id=${task.id})}" method="post" class="d-inline">
                <input type="hidden" name="userid" th:value="${username}"/>
                <button type="submit" class="btn btn-warning ">Cancel</button>
            </form>
        </td>

        </div>
    </tr>
    </tbody>
</table>
</body>
</html>